.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  /* creating 4 equal columns each as 1 fraction of the whole width, so equal in size */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
